<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Product</title>
    <link rel="stylesheet" href="/css/s_nav.css" />
    <link rel="stylesheet" href="/css/s_product.css" />
    <link rel="stylesheet" href="/css/flash-box.css" />
  </head>
  <body>
    <%- include('./partials/nav.ejs') %> <% if(messages.success_msg) { %>
    <div id="flash-message-box" class="show">
      <p><%= messages.success_msg %></p>
    </div>
    <% } %>
    <div class="product-container">
      <!-- Product Image -->
      <div class="image-container">
        <img src="<%= imageUrl %>" alt="Product Image" class="product-image" />
      </div>

      <!-- Product Details -->
      <div class="product-details">
        <p class="supplier-ecoscore">
          Supplier EcoScore: <%= product.s_ecoscore %>
        </p>
        <p class="product-description">
          <strong>Product:</strong> <%= product.description %>
        </p>
        <p class="product-price">
          <strong>Price:</strong> $<%= product.price %>
        </p>
        <p class="product-ecoscore">
          Product EcoScore: <%= product.ecoscore %>
        </p>

        <!-- Order Form -->
        <form
          action="/users/order/<%= product.id %>"
          method="POST"
          class="order-form"
        >
          <label for="quantity">Quantity:</label>
          <input type="number" id="quantity" name="quantity" min="1" required />
          <button type="submit" class="order-btn">Submit Order</button>
        </form>
      </div>
    </div>
  </body>
  <script>
    setTimeout(function () {
      document.getElementById("flash-message-box").style.display = "none";
    }, 3000);
  </script>
</html>
