<main class="main-content">
  <div id="product-grid" class="product-grid">
    <% if (users.length > 0) { %> <% users.forEach(user => { %>
    <div class="product-card">
      <a href="/users/product/<%= user.id %>">
        <h3 class="eco-score">EcoScore: <%= user.ecoScore %></h3>
        <div class="image-container">
          <img
            src="<%= user.imageUrl %>"
            alt="Product Image"
            class="product-image"
          />
        </div>
        <div class="product-info">
          <p class="product-desc"><%= user.desc %></p>
          <h3 class="product-price">Price: Rs. <%= user.price %></h3>
        </div>
      </a>
    </div>
    <% }) %> <% } else { %>
    <p>No products found</p>
    <% } %>
  </div>
</main>
